$padding-x: 1.5rem;
$max-container: 1000px;

// FONT SIZE
$fs-1: 3rem;
$fs-2: 2rem;
$fs-3: 1.5rem;
$fs-4: 1rem;
$fs-5: .8rem;
$fs-6: .6rem;

$fs-default: $fs-4;

// FONT WEIGHT 
$fw-bold: 800;
$fw-default: 400;
$fw-thin: 200;

// COLOR SCHEME
$clr-primary: rgb(12, 125, 237);
$clr-secondary: rgb(28, 28, 28);
$clr-light: rgb(245, 250, 255);